Lesson 1 Demo 2

In [ ]:
!pip install cassandra-driver
# To install the python wrapper after the installation of the local instance of Apache Cassandra

In [ ]:
import cassandra # Apache cassandra python package

In [ ]:
# Connection to the database
from cassandra.cluster import Cluster
try:
    cluster = Cluster(['127.0.0.1'])
    session = cluster.connnect()
except Exception as e:
    print(e)

In [ ]:
# Create the keyspace (known as schema - collection of tables)
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS udacity
    WITH REPLICATION =
    {'class': 'SimpleStrategy', 'replication_factor': 1}""")
    
except Exception as e:
    print(e)

In [ ]:
# Add the schema to the connection
try:
    session.set_keyspace("udacity")
except Exception as e:
    print(e)

Some additional info are needed before modeling table in Apache cassandra. For example, if doing select query requires knowing 
if there will be a WHERE condition. That column would become the partition key. The partition key and chosen clustering colum n will be the primary key.

In [ ]:
query = "CREATE TABLE IF NOT EXISTS music_library"
query = query + "(year int, artist_name text, album_name text, PRIMARY KEY (year, artist_name))"
# year as partition column, and artist_name as clustering column
try:
    session.execute(query)
except Exception as e:
    print(e)

In [ ]:
query = "select count(*) from music_library"
try:
    count = session.execute(query)
except Exception as e:
    print(e)
print(count.one())

In [ ]:
query = "INSERT INTO music_library (year, artist_name, album_name)"
query = query + "VALUES (%s, %s, %s)"

try:
    session.execute(query, (1970, "The Beatles", "Let it Be"))
except Exception as e:
    print(e)
    
try:
    session.execute(query, (1965, "The Beatles", "Rubber Soul"))
except Exception as e:
    print(e)

In [ ]:
query = "select * from music_library"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

for row in rows:
    print(row.year, row.album_name, row.artist_name)

In [ ]:
query = "select * from music_library WHERE year = 1970"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

for row in rows:
    print(row.year, row.album_name, row.artist_name)

In [ ]:
query = "DROP table music_library"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

In [ ]:
session.shutdown()
cluster.shutdown()