In [ ]:
# The postgres python library
import psycopg2

In [ ]:
# connection to the db
try:
    conn = psycopg2.connect("dbname=udacity")
except psycopg2.Error as e:
    print("Error: Could not make connection to the database")
    print(e)

# Establish the cursor
try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print("Error: could not get cursor to the database")
    print(e)

conn.set_session(autocommit=True)

In [ ]:
# translating the table provided into create statement 
try:
    cur.execute("CREATE TABLE IF NOT EXISTS music_library (album_id int, album_name varchar, artist_name varchar, year int, songs text[]);")
except psycopg2.Error as e:
    print("Error inserting rows")
    print(e)
    
try:
    cur.execute("INSERT INTO music_library (album_id, album_name, artist_name, year, songs) \
    VALUES (%s, %s, %s, %s, %s)", \
        (1, "Rubber Soul", "The Beatles", 1965, ["Michelle", "Think for Yourself", "In my Life"]))
except psycopg2.Error as e:
    print('Error: Inserting rows')
    print(e)

try:
    cur.execute("INSERT INTO music_library (album_id, album_name, artist_name, year, songs) \
    VALUES (%s, %s, %s, %s, %s)", \
        (2, "Let it Be", "The Beatles", 1970, ["Let it Be", "Across the universe"]))
except psycopg2.Error as e:
    print('Error: Inserting rows')
    print(e)

try:
    cur.execute("SELECT * FROM music_library;")
except psycopg2.Error as e:
    print("Error selecting")
    print(e)
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

In [ ]:
# Normalization

# To get the data to 1NF, we need to remove any collection or list of data (no presence of multi-valued column). This can be 
# lumped into a single table

try:
    cur.execute("CREATE TABLE IF NOT EXISTS music_library2 (album_id int, album_name varchar, artist_name varchar, \
    year int, song_name varchar);")
except psycopg2.Error as e:
    print("Error inserting rows")
    print(e)
    
try:
    cur.execute("INSERT INTO music_library2 (album_id, album_name, artist_name, year, song_name) \
    VALUES (%s, %s, %s, %s, %s)", \
        (1, "Rubber Soul", "The Beatles", 1965, "Michelle"))
except psycopg2.Error as e:
    print('Error: Inserting rows')
    print(e)
    
try:
    cur.execute("INSERT INTO music_library2 (album_id, album_name, artist_name, year, song_name) \
    VALUES (%s, %s, %s, %s, %s)", \
        (1, "Rubber Soul", "The Beatles", 1965, "Think for Yourself"))
except psycopg2.Error as e:
    print('Error: Inserting rows')
    print(e)

try:
    cur.execute("INSERT INTO music_library2 (album_id, album_name, artist_name, year, song_name) \
    VALUES (%s, %s, %s, %s, %s)", \
        (1, "Rubber Soul", "The Beatles", 1965, "In My Life"))
except psycopg2.Error as e:
    print('Error: Inserting rows')
    print(e)

try:
    cur.execute("INSERT INTO music_library2 (album_id, album_name, artist_name, year, song_name) \
    VALUES (%s, %s, %s, %s, %s)", \
        (2, "Let it Be", "The Beatles", 1970, "Let it Be"))
except psycopg2.Error as e:
    print('Error: Inserting rows')
    print(e)
    
try:
    cur.execute("INSERT INTO music_library2 (album_id, album_name, artist_name, year, song_name) \
    VALUES (%s, %s, %s, %s, %s)", \
        (2, "Let it Be", "The Beatles", 1970, "Across the Universe"))
except psycopg2.Error as e:
    print('Error: Inserting rows')
    print(e)

try:
    cur.execute("SELECT * FROM music_library2;")
except psycopg2.Error as e:
    print("Error selecting")
    print(e)
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

In [ ]:
# To get the 2NF, each row in the table must be unique - be with unique id

try:
    cur.execute("CREATE TABLE IF NOT EXISTS album_library (album_id int, album_name varchar, artist_name varchar, year int);")
except psycopg2.Error as e:
    print("Error inserting rows")
    print(e)
    
try:
    cur.execute("CREATE TABLE IF NOT EXISTS song_library (song_id int, album_id int, song_name varchar);")
except psycopg2.Error as e:
    print("Error inserting rows")
    print(e)
    
try:
    cur.execute("INSERT INTO album_library (album_id, album_name, artist_name, year) \
    VALUES (%s, %s, %s, %s)", \
        (1, "Rubber Soul", "The Beatles", 1965))
except psycopg2.Error as e:
    print('Error: Inserting rows')
    print(e)

try:
    cur.execute("INSERT INTO album_library (album_id, album_name, artist_name, year) \
    VALUES (%s, %s, %s, %s)", \
        (2, "Let it Be", "The Beatles", 1970))
except psycopg2.Error as e:
    print('Error: Inserting rows')
    print(e)
    
try:
    cur.execute("INSERT INTO song_library (song_id, album_id, song_name) \
    VALUES (%s, %s, %s)", \
        (1, 1, "Michelle"))
except psycopg2.Error as e:
    print('Error: Inserting rows')
    print(e)  

...
    
    



try:
    cur.execute("SELECT * FROM song_library;")
except psycopg2.Error as e:
    print("Error selecting")
    print(e)
    
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

In [ ]:
# To present both tables

try:
    cur.execute("SELECT * FROM album_library JOIN song_library ON album_library.album_id = song_library.album_id;")
except psycopg2.Error as e:
    print("Error selecting")
    print(e)

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

In [ ]:
# Moving to 3NF: check for any transitive dependencies 

try:
    cur.execute("SELECT * FROM (artist_library JOIN album_library2 ON \
    artist_library.artist_id = album_library2.artist_id) JOIN \
    song_library ON album_library2.album_id = song_library.album_id;")
except psycopg2.Error as e:
    print("Error selecting")
    print(e)

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

In [ ]:
cur.close()
conn.close()