In [ ]:
# the library

import psycopg2

In [ ]:
# Connect to the database

try:
    conn = psycopg2.connect("dbname=udacity")
except psycopg2.Error as e:
    print("Error connecting to the DB")
    print(e)

try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print("Error getting cursor")
    print(e)
conn.set_session(autocommit = True)

In [ ]:
# Create all the tables

try:
    cur.execute("CREATE TABLE IF NOT EXISTS album_library (album_id int, album_name varchar, artist_id int, year int);")
except psycopg2.Error as e:
    print("Error creating table")
    print(e)

try:
    cur.execute("CREATE TABLE IF NOT EXISTS artist_library (artist_id int, artist_name varchar);")
except psycopg2.Error as e:
    print("Error creating table")
    print(e)
    
try:
    cur.execute("CREATE TABLE IF NOT EXISTS song_library (song_id int, album_id int, song_name varchar);")
except psycopg2.Error as e:
    print("Error creating table")
    print(e)

try:
    cur.execute("CREATE TABLE IF NOT EXISTS song_length (song_id int, song_length int);")
except psycopg2.Error as e:
    print("Error creating table")
    print(e)

# Insert into tables
try:
    cur.execute("INSERT INTO song_length (song_id, song_length) \
    VALUES (%s, %s)", \
               (1, 163))
except psycopg2.Error as e:
    print("Error inserting")
    print(e)
    
try:
    cur.execute("INSERT INTO song_length (song_id, song_length) \
    VALUES (%s, %s)", \
               (2, 137))
except psycopg2.Error as e:
    print("Error inserting")
    print(e)

try:
    cur.execute("INSERT INTO song_length (song_id, song_length) \
    VALUES (%s, %s)", \
               (3, 145))
except psycopg2.Error as e:
    print("Error inserting")
    print(e)
    
    
try:
    cur.execute("INSERT INTO song_length (song_id, song_length) \
    VALUES (%s, %s)", \
               (4, 240))
except psycopg2.Error as e:
    print("Error inserting")
    print(e)
    
# So many code left unwritten - they are just INSERT statements for all the tables that made the 3NF



# Remember to drop the tables used for experiementing and close the cursor and the connection

Table Name: transactions2 
column 0: transaction Id
column 1: Customer Name
column 2: Cashier Id
column 3: Year

Table Name: albums_sold
column 0: Album Id
column 1: Transaction Id
column 3: Album Name

Table Name: employees
column 0: Employee Id
column 1: Employee Name

Table Name: sales
column 0: Transaction Id
column 1: Amount Spent



Let's say you need to do a query that gives:Â¶
transaction_id
 customer_name
 cashier name
 year 
 albums sold
 amount sold

In [ ]:
try: 
    cur.execute("SELECT transactions2.transaction_id, customer_name, employees.employee_name, \
                        year, albums_sold.album_name, sales.amount_spent\
                  FROM ((transactions2 JOIN employees ON \
                         transactions2.cashier_id = employees.employee_id) JOIN \
                         albums_sold ON albums_sold.transaction_id=transactions2.transaction_id) JOIN\
                         sales ON transactions2.transaction_id=sales.transaction_id;")
    
    
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()