In [ ]:
!pip install cassandra-driver

In [ ]:
import cassandra

In [ ]:
from cassandra.cluster import Cluster
try:
    cluster = Cluster(['127.0.0.1']) # You must have installed a local instance
    session = cluster.connect()
except Exception as e:
    print(e)

In [ ]:
# Create a Keyspace - Database
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS udacity
    WITH REPLICATION =
    {'class': 'SimpleStrategy', 'replication_factor': 1}"""
    )
except Exception as e:
    print(e)

In [ ]:
# Connect to the keyspace
try:
    session.set_keyspace('udacity')
except Exception as e:
    print(e)

1. Give me every album in my music library that was released in a given year
select * from music_library where year = 1980

2. Give me every album from my music library that was created by a given artist - we need an artist table listing their album 
to have query like:
    select * from artist_table where artist_name = "Ade Bendel"
    
This means doing two different tables that partition the data differently in these formats:
(i) the music_library table will be by year to becoome the partition key and the artist name as the clustering column to make each primary key unique
(ii) the artist_table table will be by artist name to be the partition key and year will be the clustering columnn to make each primary key unique.

Table Name: music_library
column 1: Year
column 2: artist name
column 3: album name
PRIMARY KEY(year, artist name)

Table name: artist_table
column 1: artist name
column 2: Year 
column 3: album name
PRIMARY KEY(artist name, year)

Questions:
    does the arrangement of the columns matter? - it does NOT matter.
    what informs the choice of the clustering column? This is column to sort the data where it is needed to achieve the query objective.

The partition key is the first column (or bracketed columns) when the primary key is composite. The second part is the clustering column(s).
Example of when bracketed column is PRIMARY KEY((col1, col2), col3, col4). The partition key here is (col1, col2). The WHERE clause would need both for filtering. The col3 and col4 are the clustering columns.
The data model, which is per table, since no JOINS in Apache cassandra, should be robust enough to take care of the queries intended to be performed on it.

In [ ]:
# Creating the tables
query = 'CREATE TABLE IF NOT EXISTS music_library'
query = query + "(year int, artist_name text, album_name text, PRIMARY KEY (year, artist_name))"

try:
    session.execute(query)
except Exception as e:
    print(e)


query = 'CREATE TABLE IF NOT EXISTS artist_table'
query = query + "(year int, artist_name text, album_name text, PRIMARY KEY (artist_name, year))"

try:
    session.execute(query)
except Exception as e:
    print(e)

In [ ]:
# Insert some data
query = "INSERT INTO music_library (year, artist_name, album_name)"
query = query + "VALUES (%s, %s, %s)"

query1 = "INSERT INTO artist_table (year, artist_name, album_name)"
query1 = query1 + "VALUES (%s, %s, %s)"


try:
    session.execute(query, (1970, "The Beatles", "Let it Be"))
except Exception as e:
    print(e)

try:
    session.execute(query, (1965, "The Beatles", "Rubber Soul"))
except Exception as e:
    print(e)
    
try:
    session.execute(query, (1965, "The Who", "My Generation"))
except Exception as e:
    print(e)
    
try:
    session.execute(query, (1966, "The Monkees", "The Monkees"))
except Exception as e:
    print(e)
    
try:
    session.execute(query, (1970, "The Carpenters", "Close To You"))
except Exception as e:
    print(e)
    
try:
    session.execute(query1, (1970, "The Beatles", "Let it Be"))
except Exception as e:
    print(e)

try:
    session.execute(query1, (1965, "The Beatles", "Rubber Soul"))
except Exception as e:
    print(e)
    
try:
    session.execute(query1, (1965, "The Who", "My Generation"))
except Exception as e:
    print(e)

In [ ]:
# Checking our data models
query = "SELECT * FROM music_library WHERE year = 1970"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print(row.year, row.artist_name, row.album_name)
    
    
query = "SELECT * FROM artist_table WHERE artist_name = The Beatles"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print(row.year, row.artist_name, row.album_name)

In [ ]:
# Drop the tables
query = "DROP TABLE music_library"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
query1 = "DROP TABLE artist_table"
try:
    rows = session.execute(query1)
except Exception as e:
    print(e)

In [ ]:
# Close connection and cluster
session.shutdown()
cluster.shutdown()