#### Roll Up and Drill Down

## Roll-up
- Stepping up the level of aggregation to a large grouping
- e.g.`city` is summed as `country`

TODO: Write a query that calculates revenue (sales_amount) by day, rating, and country. Sort the data by revenue in descending order, and limit the data to the top 20 results. The first few rows of your output should match the table below.

In [ ]:
%%time
%%sql
SELECT dt.day as day, dv.rating, ds.country, sum(fs.sales_amount) as revenue
FROM dimdate dt 
JOIN factsales fs ON (dt.date_key = fs.date_key)
JOIN dimmovie dv ON (dv.movie_key = fs.movie_key)
JOIN dimstore ds ON (ds.store_key = fs.store_key)
GROUP BY day, dv.rating, ds.country
ORDER BY revenue DESC
LIMIT 20;

#### Drill down

## Drill-down
- Breaking up one of the dimensions to a lower level.
- e.g.`city` is broken up into  `districts`

TODO: Write a query that calculates revenue (sales_amount) by day, rating, and district. Sort the data by revenue in descending order, and limit the data to the top 20 results. The first few rows of your output should match the table below.

In [ ]:
%%time
%%sql
SELECT dt.day as day, dv.rating, ds.district, sum(fs.sales_amount) as revenue
FROM dimdate dt 
JOIN factsales fs ON (dt.date_key = fs.date_key)
JOIN dimmovie dv ON (dv.movie_key = fs.movie_key)
JOIN dimstore ds ON (ds.store_key = fs.store_key)
GROUP BY day, dv.rating, ds.district
ORDER BY revenue DESC
LIMIT 20;

#### Slicing and Dicing

# Start with a simple cube
TODO: Write a query that calculates the revenue (sales_amount) by day, rating, and city. Remember to join with the appropriate dimension tables to replace the keys with the dimension labels. Sort by revenue in descending order and limit to the first 20 rows. The first few rows of your output should match the table below.

In [ ]:
%%time
%%sql
SELECT dt.day as day, dv.rating, ds.city, sum(fs.sales_amount) as revenue
FROM dimdate dt 
JOIN factsales fs ON (dt.date_key = fs.date_key)
JOIN dimmovie dv ON (dv.movie_key = fs.movie_key)
JOIN dimstore ds ON (ds.store_key = fs.store_key)
GROUP BY day, dv.rating, ds.city
ORDER BY revenue DESC
LIMIT 20;

#### Slicing

Slicing is the reduction of the dimensionality of a cube by 1 e.g. 3 dimensions to 2, fixing one of the dimensions to a single value. In the example above, we have a 3-dimensional cube on day, rating, and country.

TODO: Write a query that reduces the dimensionality of the above example by limiting the results to only include movies with a `rating` of "PG-13". Again, sort by revenue in descending order and limit to the first 20 rows. The first few rows of your output should match the table below.

In [ ]:
%%time
%%sql
SELECT dt.day as day, dv.rating, ds.city, sum(fs.sales_amount) as revenue
FROM dimdate dt 
JOIN factsales fs ON (dt.date_key = fs.date_key)
JOIN dimmovie dv ON (dv.movie_key = fs.movie_key)
JOIN dimstore ds ON (ds.store_key = fs.store_key)
WHERE dv.rating = 'PG-13'
GROUP BY day, dv.rating, ds.city
ORDER BY revenue DESC
LIMIT 20;

## Dicing
Dicing is creating a subcube with the same dimensionality but fewer values for  two or more dimensions. 

TODO: Write a query to create a subcube of the initial cube that includes moves with:
* ratings of PG or PG-13
* in the city of Bellevue or Lancaster
* day equal to 1, 15, or 30

The first few rows of your output should match the table below.

In [ ]:
%%time
%%sql

SELECT...
FROM...

#### Grouping Sets

#### OLAP Cubes